# compiled output
/dist
/cache_dist
/tmp
/cache_dist
/tmp_dist
/.angular

# dependencies
/node_modules

# sub-project dependencies
**/dist
**/node_modules

# IDEs and editors
/.nx
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.history
hello-world.zip

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db